!! urxvt
URxvt*scrollBar:false
!!URxvt.font: xft:Monospace:size=10
URxvt.font: xft:DejaVu Sans Mono:size=9

!! Color Settings
URxvt*background: #3f3f3f
URxvt*foreground: #dcdccc
 
!black
*color0:     #000000
*color8:     #404040
!red
*color1:     #AF5F5F
*color9:     #FF5F8F
!green
*color2:     #7F9F7F
*color10:    #87D787
!yellow
*color3:     #B3B784
*color11:    #CAE682
!blue
*color4:     #9393CC
*color12:    #93A2CC
!magenta
*color5:     #93A2CC
*color13:    #A893CC
!cyan
*color6:     #87AFD7
*color14:    #53DCCD
!white
*color7:     #AAAAAA
*color15:    #FFFFFF

!! font-size
URxvt.perl-ext-common: font-size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

!! dzen2
dzen2.background: #3f3f3f
!!dzen2.font: "xft:Monospace:size=10"
dzen2.font: xft:DejaVu Sans Mono:size=9
