@define-color cursor #CDD6F4;
@define-color background #f5eeeb;
@define-color foreground #645240;
@define-color color0  #45475A;
@define-color color1  #F38BA8;
@define-color color2  #A6E3A1;
@define-color color3  #F9E2AF;
@define-color color4  #89B4FA;
@define-color color5  #F5C2E7;
@define-color color6  #94E2D5;
@define-color color7  #BAC2DE;
@define-color color8  #585B70;
@define-color color9  #F38BA8;
@define-color color10 #f4bc87;
@define-color color11 #8ab3b5;
@define-color color12 #a89bb9;
@define-color color13 #f5eeeb;
